body {
  background-image: linear-gradient(#EDB6A3, blue);
}

#wrapper {
  margin: 5px;
  min-width: 200px;
  padding: 20px 50px 20px 50px;
}

.form_container {
  text-align: center;
}

h1, h2 {
  text-align: center;
  color: white;
  font-family: Courier;
}

section {
   background-color:#F8E9E9;
   padding: 100px;
}

.footer {
  text-align: center;
  background-color: blue;
  font-family: Courier;
}

a:visited {
  color: white;
}

@media screen and (max-width: 480px) {
    img {
         width: 240px;
         height: 110px;
    }
}